*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'tajawal', sans-serif;
  overflow-x: hidden;
}

.reset-wrapper .reset-form {
  width: 50%;
  max-width: 100%;
  padding-left: 5%;
  padding-right: 2%;
  margin-top: 5%;
  box-sizing: border-box;
}

.reset-label{
  font-size: 20px;
  font-weight: bold;
  color:#000;
  text-align: right;
  padding-bottom: 2%;
}

.reset-input{
  text-align: right;
  background-color: #E5E5E5;
  height: 48px;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding-right: 5%;
  font-size: 18px;
  margin-bottom: 3%;  
}

.reset-error{
  color: red;
  text-align: center;
}

.reset-btn{
  background-color: #1D3A77;
  font-size: 20px;
  padding: 9px 12px 12px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-weight: 600;
}

.reset-btn:hover{
  background-color: #255acb;
}

.reset-title{
  font-weight: bold;
}

.reset-subtitle{
  color:#8a8a8a;
  font-size:14px;
}

@media (max-width: 768px) {
  
  .reset-wrapper .reset-form {
    width: 100% !important;       
    padding-left: 5% !important;  
    padding-right: 5% !important; 
    margin: 0 auto;              
  }

  .login-wrapper .login-image,
  .reset-wrapper .reset-image {
    display: none;                
  }
}
