.offersproducts-wrapper1 {
    padding-bottom: 3%;
        margin-bottom: 6%;

}
/* .offerscustomer-products-header1 {
    margin-top: 7%;
} */
@media screen and (max-width:768px) {
    /* .offersproducts-wrapper1 {
    padding-top: 41%;
} */
}