.support-wrapper{
    margin-top: 12%;
}
.input-box{
        background: #FAFAFA;
    border: 1px solid #E9E9E9;
    padding: 11px;
}
.label-title{
    font-size: 20px;
    font-weight: bold;
}
.support-tabs{
        margin-top: 7%;

}
.support-tabs-column {
  display: flex;
  justify-content: flex-start;
}

.support-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.support-tab {
    width: 92%;
    padding: 14px 24px 14px 32px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
}

.support-tab.active-tab {
  background: #1D3A77;
  color: #fff;
}
.support-tab.active-tab span {
  background: #1D3A77;
  color: #fff;
}
.inactive-tab {
  background: white;
  border: 2px solid #ECECEC;
}
.f-text{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    
}
.eye-text{
      /* color: #fff; */
    font-size: 20px;
    font-weight: bold;
      
    padding-right: 24px;
}
.submit-btn{
  margin-bottom: 10%;
}
@media screen and (max-width:480px){
  .support-wrapper .label-title{
    padding-top: 1px;
  }
  .support-tabs-column {
                 margin-top: 30%;
        margin-bottom: 0%;
    
}
.support-tabs{
 padding-top: 37%;
     margin-bottom: 10%;

}
.support-wrapper .submit-btn{
    margin-bottom: 18%;

}
}
