.products-section {
  direction: rtl;
}

.head-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  color: #1d1d1d;
}

.view-more {
  color: #1d3a77;
  font-size: 18px;
  cursor: pointer;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px #00000015;
  padding-bottom: 20px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

/* خصم */
.discount-badge {
  background: #FFD500;
  color: #fff;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 0 0 15px 15px;
  position: absolute;
}

/* النصوص */
.product-info {
  padding: 20px;
}

.rate-row {
  display: flex;
  gap: 5px;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.product-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #1d1d1d;
}

.product-desc {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
}

/* الأسعار */
.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.new-price {
  font-size: 20px;
  font-weight: bold;
  color: #FF4D00;
}

/* زر الإضافة */
.add-btn {
  width: 100%;
  background: #FF6B00;
  color: #fff;
  padding: 12px;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
}
