.add-ad-page {
  direction: rtl;
  text-align: right;
}

.page-title {
  font-size: 26px;
  font-weight: 700;
  color: #1d3a77;
}

.page-title span {
    color: #9E9E9E;
    font-size: 24px;
}

.ad-form label {
  font-weight: 600;
}

.delivery-btn {
  width: 100%;
  background: #f5f5f5 !important;
  color: #333 !important;
  border: 1px solid #ddd !important;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 600;
}

.delivery-btn:hover {
  background: #1d3a77 !important;
  color: white !important;
}


.submit-btn {
    width: 100%;
  background: #1d3a77;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
}
/* ---- رفع الصور ---- */
.images-section label {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.upload-box {
  border: 2px dashed #d3d3d3;
  border-radius: 12px;
  height: 150px;
  position: relative;
  background: #fafafa;
  cursor: pointer;
  margin-bottom: 15px;
}

.upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.upload-icon {
  font-size: 34px;
  color: #909090;
  margin-bottom: 8px;
}

.upload-content p {
  color: #666;
  font-size: 15px;
}

.preview-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.preview-item {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
}

.preview-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-btn {
  position: absolute;
     top: 1px;
    right: 2px;
  background: red;
  color: #fff;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}
