.seller-details-page {
  padding: 80px 20px;
  text-align: center;
  margin-top: 10%;
}

.seller-details-page img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
      object-fit: cover;

  margin-bottom: 18px;
}

.seller-details-page h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.seller-details-page p {
    max-width: 500px;
    margin: auto;
    font-size: 20px;
    color: #666;
    font-weight: bold;
}
@media screen and (max-width:768px){
  .seller-details-page img{
        margin-top: 18%;

  }
}