.marketing-wrapper {
  display: flex;
  direction: rtl;
  margin-top: 6%;
  margin-bottom: 10%;
}

/* Sidebar */
.marketing-sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.side-btn2 {
  background: #ffffff;
  border: 1px solid #dddddd;
  padding: 18px 16px;
  border-radius: 10px;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
  cursor: pointer;
}

.side-btn2.active {
  background: #123a8a;
  color: #fff;
  border-color: #123a8a;
}

.side-btn2.logout {
  background: #d22121;
  color: #fff;
  border-color: #d22121;
}

/* Content */
.marketing-contentt2 {
  padding-top:30px;
  flex: 1;
  margin-right: 60px;
  text-align: center;
}

.marketing-illustration img {
  width: 260px;
  margin-bottom: 20px;
}

.marketing-title2 {
    font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.marketing-subtitle {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* Info Boxes */
.info-box {
  background: #fff;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  font-size: 18px;
    direction: ltr;
}

.info-icon img {
  width: 22px;
}

.info-text {
  font-size: 16px;
  font-weight: 500;
}

.info-value {
  font-size: 18px;
  font-weight: bold;
}

/* Withdraw Button */
.withdraw-btn {
width: 100%;
    background: #123a8a;
    color: #fff;
    border: none;
    padding: 14px 0;
    border-radius: 12px;
    font-size: 17px;
    margin-top: 11px;
}
@media (max-width:768px) {
  .info-text{
        font-size: 12px;
  }
  .side-btn2{
        font-size: 16px;

  }
  .marketing-contentt2{
        padding-top: 0 !important;
        margin: 0 auto !important;
        text-align: center;


  }
  .marketing-title2 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}


}
