.banckaccount{
  margin-top: 7%;
}
.bank-content {
  flex: 1;
  margin-right: 60px;
  margin-top: 4%;
  direction: rtl;
}

.bank-input {
  margin-bottom: 20px;
}

.bank-input label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    font-size: 20px;
}

.bank-input input {
       width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
    background: #fff;
    font-size: 16px;
    height: 9vh;
}

.upload-input-bank {
     background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 12px;
    padding: 52px 30px 50px;
    text-align: center;
    color: #777;
    margin-bottom: 30px;
    cursor: pointer;
    height: 24vh;
}

.upload-icon {
  font-size: 22px;
  margin-left: 8px;
  color: #777;
}

.submit-btn {
  width: 100%;
  background: #1D3A77;
  color: #fff;
  border: none;
  padding: 16px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 6%;
}
/* ===== Fade Animation ===== */

.fade-in {
  animation: fadeIn 0.6s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------- Responsive -------- */
@media (max-width: 1024px) {
  .bank-content {
    margin-right: 0;
    padding: 0 20px;
  }

  .bank-input label {
    font-size: 15px;
  }

  .bank-input input {
    font-size: 15px;
    padding: 12px;
  }

  .upload-input-bank {
    padding: 25px;
    font-size: 15px;
        background: #fff;
    border: 1px dashed #9e9e9e;
    border-radius: 12px;
    padding: 64px 30px;
    text-align: center;
    color: #9e9e9e;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .upload-icon {
    font-size: 20px;
  }

  .submit-btn {
    font-size: 18px;
    padding: 14px;
  }
}

@media (max-width: 768px) {
  .bank-content {
    margin-top: 3%;
  }

  .bank-input input {
    padding: 10px;
    font-size: 14px;
  }

  .upload-input-bank {
    padding: 20px;
    font-size: 14px;
  }

  .upload-icon {
    font-size: 18px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .bank-content {
    margin-top: 5%;
    padding: 0 10px;
  }

  .bank-input label {
    font-size: 14px;
  }

  .bank-input input {
    font-size: 14px;
    padding: 10px;
  }

  .upload-input-bank {
    padding: 15px;
    font-size: 13px;
  }

  .upload-icon {
    font-size: 16px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 10px;
  }
}
