.neworders-page {
  direction: rtl;
 margin-top: 50%;
       padding-top: 50%;

}
.neworderspage{
      padding-top: 50%;

}
/* العنوان */
.heading {
  font-size: 28px;
  font-weight: 700;
  color: #1d3a77;
  text-align: right;
  padding-right: 40px;        
  margin-bottom: 15px;        
}

.heading .main {
  color: #9e9e9e;
}

/* Wrapper */

.orders-wrapper {
  width: 100%;
    /* margin: 25px 41px; */
    margin-top: 10%;

}

.order-cardnorders {
     background: #fff;
    padding: 4px 20px 47px 0px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    position: relative;
    margin-top: 4%;
    height: 19vh;

}

.order-price-left {
  position: absolute;
  left: 20px;
  bottom: 8px;
  color: #F38B1B;
  font-size: 18px;
  font-weight: 700;
}

.order-content {
  display: flex;
  align-items: center;
}

.image-side {
  display: flex;
  align-items: center;
  gap: 18px;
}

.image-side img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
      margin-top: 12%;

}

.text-sideneworder {
     text-align: right;
    line-height: 33px;
    padding-top: 11%;

}
.text-side
.product-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}

.product-descnorders {
  font-size: 20px;
  color: #9e9e9e;
  margin: 0;
  font-weight: 400;
}

.category {
  color: #9e9e9e;
  font-size: 16px;
  margin-top: 6px;
}

.qty {
  background: #1D3A7733;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 13px;
}

.typenorders {

      color: #000;
    font-size: 18px;
    margin-right: 8px;
    font-weight: 400;

}

.order-card-link {
  text-decoration: none !important;
  color: inherit !important;
}
