.category-page {
    min-height: 70vh;
    padding-top: 160px;   
    padding-bottom: 40px; 
    direction: rtl;
}
.category-page .row{
  align-items: stretch;

}
.filter-column {
  border-left: 2px solid #E5E5E5;
}

.cat {
    border-bottom: 1px solid #E9E9E9;
    width: 100%;            
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.cat h3 {
    font-size: 30px;
    font-weight: bold;
}

/* قسم الفئة */
.catsec {
    border-bottom: 1px solid #ccc;
    width: 100%;             /* كان 30% → ليظهر بشكل كامل */
    padding-bottom: 15px;
    margin-bottom: 20px;
        font-size: 24px;

}
.heading-filter{
    font-size: 24px;
    font-weight: bold;
}
/* شكل اللابل (الاختيارات) */
.catsec label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    cursor: pointer;
}

/* شكل الشيك بوكس */
.catsec input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #10397A;
}
.ch{
        font-size: 20px;
    font-weight: 400;

}
.filter-heading{
        font-size: 24px;
    font-weight: bold;

}
/* عنوان السعر */
.filter-title-small {
  font-size: 18px;
  font-weight: 700;
  color: #1d3a77;
  margin-bottom: 10px;
}

/* النص اللي فوق السلايدر */
.price-range-text {
  font-size: 16px;
  color: #1d3a77;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: right;
}

/* السلايدر */
.price-slider {
  width: 100%;
  accent-color: #10397A;
  height: 6px;
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* الخط الرمادي اللي تحت */
.price-line {
  width: 100%;
  height: 2px;
  background: #e5e5e5;
  margin-top: 10px;
}

.filter-column {
border-left: 1px solid #E5E5E5;
    padding-left: 0px;
    height: 100%;
    width: 23%;
  position: relative;
}

/* الخط العمودي */
.filter-column::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background: #E5E5E5;
  height: 100vh; /* طول نافذة المتصفح */
}
.category-page .breadcrumb{
    direction: rtl;
        padding-right: 18px;

}
.category-page .results{
font-size: 24px;
font-weight: bold;
    padding-right: 23px;

}
.active-tags{
        justify-content: flex-start;
    align-items: center;
    gap:10px;
        padding-right: 28px;
    padding-bottom: 18px;

}
.cat-title{
    font-size: 24px;
    font-weight: bold;
}
.category-page .tag{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background: #1D3A7780;
    padding: 7px 33px 7px 36px;
    border-radius: 37px;
}
.clear-btn a{
color: #FF580E;
font-size: 18px;
font-weight: bold;
}
.category-page .heading-title{
    font-size: 30px;
    font-weight: bold;
    
}
.category-page .main-title{
        font-size: 30px;
    font-weight: 400;
    color: #9E9E9E;
}
.category-page .customer-products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
  direction: rtl;
  margin-top: 30px;

}
.category-page .customer-product-card {
  width: 100%;
}
/* زرار عرض المزيد */
.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0 25px 0;
}

.load-more-btn {
  background: #1D3A77;
  color: #fff;
  padding: 12px 200px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

/* الباجينايشن */
.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
}

.pagination-arrow {
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.page-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.page-number.active {
  background: #1D3A77;
  color: #fff;
  border: none;
}

@media (max-width: 992px) {
  .customer-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .customer-products-grid {
    grid-template-columns: 1fr;
  }
}
